.html {
    background-color: #ffffff;
}

.image img {
    margin-top: 15%;
    display: block;
    width: 100px;
    margin-bottom: 0;

}

.title {
    text-align: center;
    margin-bottom: 25px;
}

div {
    text-align: center;
}

.id input, .pw input {
    width: 30ex;
    height: 3ex;
    margin-bottom: 3px;
    border-radius: 5px;
    border-color: #1D2346;
}

.btn button {
    background-color: #ffffff;
    margin-top: 10px;
    height: 4ex;
    margin-bottom: 15%;
    width: 120px;
    padding: 0;
    color: #1D2346;
    border-radius: 5px;
    transition: all 0.2s ;
    border-color: #1D2346;
}

.btn button:hover {
    background-color: #1D2346;
    color: #ffffff;
}